{% extends 'base.html.twig' %}

{% block title %}Books - Community Library{% endblock %}

{% block body %}
    <h1>Our Collection ({{ books|length }} books)</h1>

    <div class="book-grid">
        {% for book in books %}
            <div class="book-card">
                <h2>
                    <a href="{{ path('app_book_show', {id: book.id}) }}">
                        {{ book.title }}
                    </a>
                </h2>
                <p>{{ book.authors|map(author => author.name)|join(', ') }} &mdash; {{ book.publicationDate|date('Y') }}</p>
                <p><em>{{ book.genres|map(genre => genre.name)|join(', ') }}</em></p>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_book_edit', {id: book.id}) }}"
                        class="btn btn-outline-secondary">Edit</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
