{% extends 'base.html.twig' %}

{% block title %}{{ book.title }} - Community Library{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>

    <div class="book-meta">
        <span>{{ book.authors|map(author => author.name)|join(', ') }}</span>
        <span>{{ book.publicationDate|date('Y') }}</span>
        <span class="genre-badge">{{ book.genres|map(genre => genre.name)|join(', ')|upper }}</span>
    </div>

    <hr>

    <p>{{ book.summary }}</p>

    <a href="{{ path('app_book_index') }}" class="btn btn-outline-secondary">← Back to all books</a>
{% endblock %}
